@media screen and (max-width: 900px) {
	.homepage-hero-left {
		width: 100%;
	}
	.homepage-hero-1 {
		text-align: center;
		font-size: 0.9em;
		width: 100%;
		padding: min(2rem, 8vh) min(1.5rem, 6vw);
	}
	.homepage-hero-2 {
		width: 100%;
		padding: min(1.5rem, 3vh) 0;	
	}
	.homepage-hero-1-blur {
		animation: homepage-bottom-flyin 0.9s ease !important;
		animation-fill-mode: both;
	}
	.homepage-hero-2-blur {
		animation: homepage-bottom-flyin 0.9s ease !important;
		animation-delay: 0.1s !important;
		animation-fill-mode: both;
	}
	.homepage-hero-img {
		margin: 0 auto;
		right: 50%;
		transform: translateX(50%);
		animation: hero-img-appear 0.9s ease !important;
		animation-fill-mode: both !important;
	}
	.homepage-lg-icons-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 2rem;
	}
}

@media screen and (max-width: 700px) {
	.hero-maintext {
		font-size: 3rem !important;
	}
	.homepage-lg-icon {
		padding: min(1.5rem, 6vw);
		width: min(6rem, 24vw);
	}
}

/* 34rem should be min width of horizontal hero 2 */
@media screen and (max-width: 550px) {
	
	.homepage-hero-img {
		top: 20%;
	}
}