/* for larger screens, when homepage hero is left aligned */
@keyframes homepage-left-flyin {
	0% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0);
	}
}
/* for small screens, when homepage hero is centered */
@keyframes homepage-bottom-flyin {
	0% {
		opacity: 0.5;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* only for larger screens, when hero img is right aligned */
@keyframes hero-img-right-flyin {
	0% {
		opacity: 0;
		filter:hue-rotate(-50deg);
		transform: translateX(10%) scale(1.05);
	}
	100% {
		opacity: 1;
		filter:hue-rotate(0deg);
		transform: translateX(0) scale(1);
	}
}
/* for small screens, need opacity fadein cuz backdrop-filter is slow */
@keyframes hero-img-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

:root {
	background-color: rgb(var(--backgroundColor0));
}

.homepage-hero-backdrop {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.homepage-hero-main {
	position: relative;
	display: flex;
	width: var(--largerElementWidth);
	align-items: center;
	justify-content: space-between;
	margin: var(--pagePaddingY) auto;
}

/* right side of top */
.homepage-hero-img {
	position: absolute;
	right: 0;
	max-height: 100%;
	animation: hero-img-right-flyin 0.9s ease;
	animation-fill-mode: both;
}

.homepage-hero-left {
	display: flex;
	flex-direction: column;
	gap: min(2.5rem, 10vw);
	z-index: 5;
}


/* "glass frame" around .homepage-hero-1 */
.homepage-hero-1-blur {
	padding: 8px;
	border-radius: calc(var(--roundedXL) + 8px);
	border: 1px solid rgba(var(--secondaryColor0), 0.3);
	backdrop-filter: blur(20px);
	transition: box-shadow 0.3s;
	animation: homepage-left-flyin 0.9s ease;
	animation-fill-mode: both;
}
.theme-dark .homepage-hero-1-blur {
	box-shadow: 
	0 -30px 10px -30px rgba(202, 195, 255, 0.9) inset, 
	0 60px 20px -60px rgba(202, 195, 255, 0.9), 
	0 -20px 50px -20px rgba(132, 0, 255, 0.9) inset,
	0 40px 100px -40px rgba(132, 0, 255, 0.9);
}
.homepage-hero-1 {
	position: relative;
	border-radius: var(--roundedXL);
	padding: 3rem 2rem;
	word-wrap: break-word;
}
.theme-light .homepage-hero-1 {
	border: 1px solid rgba(var(--secondaryColor0), 0.4);
}
.theme-dark .homepage-hero-1 {
	
	background-image: radial-gradient(
		70% 100% at 60% -50%,
		rgba(var(--primaryColor0), 0.1) 0%,
		rgba(var(--primaryColor4), 0.05) 100%
	), linear-gradient(
		180deg,
		transparent 80%,
		rgba(var(--secondaryColor0), 0.02) 100%
	), linear-gradient(
		180deg,
		transparent 90%,
		rgba(var(--primaryColor0), 0.04) 100%
	);
	
	border-image: linear-gradient(90deg, transparent 10%, rgba(var(--secondaryColor0), 1), transparent 90%) 1;
  border-width: 1px;
  border-style: solid;
}

.homepage-hero-2 {
	position: relative;
	border-radius: var(--roundedXL);
	padding: 1.5rem 0;
	box-sizing: border-box;
}
.theme-light .homepage-hero-2 {
	border: 1px solid rgba(var(--secondaryColor0), 0.4);
}
.theme-dark .homepage-hero-2 {
	box-shadow: 0 0 100px -40px rgba(132, 0, 255, 0.7);
	background-image: radial-gradient(
		70% 100% at 60% -50%,
		rgba(var(--primaryColor0), 0.1) 0%,
		rgba(var(--primaryColor4), 0.03) 100%
	), linear-gradient(
		180deg,
		transparent 80%,
		rgba(var(--secondaryColor0), 0.02) 100%
	), linear-gradient(
		180deg,
		transparent 90%,
		rgba(var(--primaryColor0), 0.04) 100%
	);
	border-image: linear-gradient(90deg, transparent 10%, rgba(var(--secondaryColor0), 1), transparent 90%) 1;
  border-width: 1px;
  border-style: solid;
}
.homepage-hero-2-blur {
	padding: 8px;
	border-radius: calc(var(--roundedXL) + 8px);
	border: 1px solid rgba(var(--secondaryColor0), 0.3);
	transition: box-shadow 0.3s;
	backdrop-filter: blur(20px);
	animation: homepage-left-flyin 0.9s ease;
	animation-delay: 0.1s;
	animation-fill-mode: both;
}
.theme-dark .homepage-hero-2-blur {
	box-shadow: 0 40px 200px -40px rgba(119, 0, 255, 0.2);
}

@keyframes maintext-appear {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.hero-maintext {
	font-size: 3.75rem;
	line-height: 1.1;
	animation: maintext-appear 0.15s ease;
	animation-fill-mode: both;
	overflow: visible;
}
.maintext-hidden {
	visibility: hidden;
}
.hero-accent-col {
	/* gradient text color */
	background: linear-gradient(
		90deg, 
		rgb(var(--primaryColor2)), 
		rgb(var(--primaryColor0)),
		rgb(var(--primaryColor2)), 
		rgb(var(--primaryColor0)),
		rgb(var(--primaryColor2))
	);
	background-size: 200%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: scrolling-gradient-text 10s linear infinite;
}
.hero-faded-col {
	color: rgba(var(--textColor), 0.7);
	margin: 0;
}
.homepage-hero-2-text {
	color: rgba(var(--textColor), 0.6);
	font-weight: 500;
	margin: 0 min(2rem, 3vw);
	margin-bottom: min(2rem, 3vh);
	text-align: center;
}

.aboutme-main-desc {
	text-align: center;
	width: min(900px, 80%);
	color: rgba(var(--textColor), 0.6);
	margin: 0;
}
@media screen and (max-width: 500px) {
	.aboutme-main-desc {
		width: 90%;
	}
}


.homepage-lg-icons-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	padding: 0 2rem;
	box-sizing: border-box;
}
.homepage-lg-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}
.homepage-lg-icon-text {
	text-align: center;
	margin: 0;
	font-size: min(1rem, 5vw);
}
.homepage-lg-icon {
	padding: min(1.5rem, 8vw);
	width: min(6rem, 30vw);
	border-radius: var(--roundedXL);
	box-sizing: border-box;
}
.theme-light .homepage-lg-icon {
	background-color: rgba(var(--backgroundColor0), 0.3);
	border: 1px solid rgb(var(--secondaryColor0), 0.5);
}
.theme-dark .homepage-lg-icon {
	background-color: rgba(var(--backgroundColor0), 0.8);
	border: 1px solid rgb(var(--secondaryColor0), 0.25);
	background-image: radial-gradient(
		50% 150% at 50% -100%,
		rgba(var(--primaryColor0), 0.3) 30%,
		rgba(var(--primaryColor4), 0.01) 100%
	);
	transition: background 0.3s ease, box-shadow 0.2s ease;
}
.theme-dark .icon-wrapper-link:hover .homepage-lg-icon {
	box-shadow: 0 20px 50px -30px rgba(var(--primaryColor0), 0.5) inset;
}

.homepage-separator {
	margin: 0 auto;
	width: var(--largerElementWidth);
}

@media screen and (max-width: 1200px) {
	.aboutme-bio-top {
		flex-direction: column;
	}
	.portrait-img {
		margin: 0 auto;
	}
}
.aboutme-bio-top {
	display: flex;
	gap: 1.5rem;
}
.portrait-img {
	max-width: min(500px, 100%);
	object-fit: contain;
	height: auto;
	border-radius: var(--roundedLarge);
	transition: box-shadow 0.3s ease;
}
.theme-dark .portrait-img {
	box-shadow: 50px 30px 60px -30px rgba(var(--primaryColor2), 0.3);
}