@media screen and (max-width: 700px) {
	.experience-card {
		flex-direction: column;
	}
	.experience-card-image {
		width: 100% !important;
		object-fit: contain;
	}
	.experience-card-text {
		width: 100% !important;
	}
}

.experience-card {
	width: 100%;
	display: flex;
	column-gap: min(2rem, 6vw);
	row-gap: min(1.8em, 5vw);
	padding: min(2em, 6vw);
	border-radius: var(--roundedXL);
	transition: border 0.15s, box-shadow 0.4s, background 0.3s ease;
	box-sizing: border-box;
	border: 1px solid rgba(var(--secondaryColor0), 0.2);
	cursor: pointer;
}
.theme-dark .experience-card {
	background-color: rgba(var(--backgroundColor2), 0.5);
	box-shadow: 0 30px 150px -50px rgba(var(--primaryColor0), 0.2);
}
.theme-light .experience-card:hover {
	border: 1px solid rgba(var(--secondaryColor0), 0.6);
}
.theme-dark .experience-card:hover {
	border: 1px solid rgba(var(--secondaryColor0), 0.35);
	background-color: rgba(var(--backgroundColor2), 0.5);
	box-shadow: 0 30px 150px -50px rgba(var(--primaryColor0), 0.4);
}
.ec-left {
	width: 100%;
}
.experience-card-text {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.experience-myexp {
	color: rgba(var(--textColor), 0.7);
	margin-bottom: 0.5rem !important;
}
.experience-card-image {
	width: 100%;
	border-radius: var(--roundedLarge);
	margin-top: 1em;
	object-fit: contain;
}

.experience-card-tags-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.4rem;
	margin: 0.8rem 0;
}

.ec-click {
	margin: 0 !important;
	font-size: 0.9em;
	margin-top: auto !important;
}