@keyframes popupEntry {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup-body::-webkit-scrollbar {
  border-top-right-radius: var(--roundedLarge);
  border-bottom-right-radius: var(--roundedLarge);
  overflow: hidden;
}
.popup-body::-webkit-scrollbar-track {
    border-radius: var(--roundedLarge);
    background: rgb(var(--backgroundColor4));
    overflow: hidden;
}
.popup-body::-webkit-scrollbar-thumb {
    border-radius: var(--roundedLarge);
    background: rgb(var(--backgroundColor6));
}
.popup-body::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--backgroundColor5));
}
.popup-body::-webkit-scrollbar-corner {
    background: rgb(var(--backgroundColor4));
}

.popup-backdrop {
    position: fixed;
    z-index: 10005;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0004;
    overflow-y: auto;
    animation: fadeIn 0.2s ease;
    cursor: default;
}
.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    min-height: 100%;
    animation: popupEntry 0.2s ease;
}
.popup-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: min(2.5em, 4vmax);
    max-width: var(--largerElementWidth);
    max-height: min(80vh, 900px);
    overflow-y: auto;
    border: 1px solid rgba(var(--secondaryColor0), 0.3);
    border-radius: var(--roundedLarge);
    box-sizing: border-box;    
    transition: background 0.2s ease, backdrop-filter 0.2s ease;
}
.theme-light .popup-body {
    background-color: rgb(var(--backgroundColor3));
    box-shadow: -1px 2px 40px 0px #0002;
}
.theme-dark .popup-body {
    background-color: rgba(var(--backgroundColor0), 0.5);
    box-shadow: -1px 2px 40px 0px #0002;
    backdrop-filter: blur(5vmax) saturate(0.5);
    background-image: radial-gradient(
		50% 150% at 50% -100%,
		rgba(var(--primaryColor0), 0.3) 30%,
		rgba(var(--primaryColor4), 0.01) 100%
	);
}

.popup-close-btn {
    width: 100%;
    max-width: 100% !important;
}


/* content styles */
.experience-popup-header {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}
@media screen and (max-width: 750px) {
    .experience-popup-header {
        flex-direction: column;
    }
    .popup-body img {
        width: 100% !important;
    }
    .popup-body {
        padding: min(2.5em, 6vmin);
        max-width: var(--w90ElementWidth);
        max-height: min(90vh, 900px);
    }
}

@media screen and (max-width: 420px) {
    .popup-backdrop {
        font-size: min(1rem, 5vmin);
    }
    .popup-body h1 {
        font-size: 2em;
    }
    .popup-body h3 {
        font-size: 1.4em;
    }
    .popup-body h4 {
        font-size: 1.2em;
    }
}


.popup-body img {
    width: 50%;
    height: fit-content;
    border-radius: var(--roundedLarge);
    margin-bottom: 1.5em;
}
.popup-body h1, .popup-body h3, .popup-body h4 {
    margin-bottom: 0.2em;
    line-height: 1.1;
}
.popup-body p {
    margin-top: 0;
    margin-bottom: 1.5em;
    border-radius: var(--roundedLarge);
}

